/certs/devcert.pfx
.obsidian/
bin/
obj/
/plugins/
/out/
.idea/
.env
/net-commander
qodana.yaml
src/Plugins/Solutions/DevTokens/manifest.json
src/Plugins/Solutions/DevTools/manifest.json
issues/
*.DotSettings.user
